[Desktop Entry]
Version=1.0
Icon=primehack
Exec=env QT_QPA_PLATFORM=xcb primehack
Terminal=false
Type=Application
Categories=Game;Emulator;
Name=PrimeHack Emulator
GenericName=Wii/GameCube Emulator
Comment=A Wii/GameCube Emulator
